.popup-overlay {
    z-index: 100;
    > .popup-content {
        max-width: 45rem;
        min-width: 35rem;
        max-height: 65%;
        overflow-y: scroll;
        align-self: center;
        border-radius: $border-radius;

        > .info-modal {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 4rem;
            line-height: 1.75;

            > .button {
                cursor: pointer;

                &.-close {
                    border: none;
                    background-color: transparent;
                    position: absolute;
                    right: 2rem;
                    font-size: 1.2rem;
                    border-radius: $border-radius;
                    transition: background 0.15s;

                    &:hover {
                        background: $darkmediumgray;
                    }
                }

                &.-back {
                    font-family: $font-family;
                    border: none;
                    background: $turquoise;
                    background: $gradient;
                    font-weight: $font-weight-bold;
                    height: 4rem;
                    width: 18rem;
                    font-size: 1rem;
                    letter-spacing: 2px;
                    color: $white;
                    text-transform: uppercase;
                    border-radius: $border-radius;
                }
            }

            > .header {
                font-weight: $font-weight-bold;
                padding: 1rem 1rem 0;
            }

            > .description {
                padding: 0 1rem 1rem;
            }

            > .logos {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem 0 2rem;
                border-bottom: 2px dotted $mediumgray;
                margin-bottom: 2rem;
                width: 100%;

                > .logo {
                    height: auto;
                    margin: 0 1rem;

                    &.-idb {
                        width: 9rem;
                    }

                    &.-chpa {
                        width: 4rem;
                    }

                    > img {
                        width: 100%;
                    }
                }
            }

            > .instructions {
                display: flex;
                flex-direction: column;
                align-items: center;

                > .header {
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                }

                > .list {
                    list-style: none;
                    padding: 0.5rem;
                    width: 100%;

                    > .item {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 0.5rem;

                        > .number {
                            background-color: $lightgray;
                            width: 2rem;
                            height: 2rem;
                            min-width: 2rem;
                            min-height: 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 1rem;
                            border-radius: $border-radius;

                            > .fa-ban {
                                color: red;
                            }
                        }

                        > .text {
                            padding: 0.5rem;

                            > .header {
                                font-size: 0.85rem;
                                font-weight: $font-weight-bold;
                                padding-bottom: 0.5rem;

                                > .optional {
                                    font-weight: $font-weight-normal;
                                }
                            }

                            > .description {
                                font-size: 0.85rem;

                                a:link,
                                a:visited,
                                a:hover,
                                a:active {
                                    color: $black;
                                }

                                > .link {
                                    display: inline-flex;
                                    text-decoration-color: $yellow;

                                    > .fa-external-link-square-alt {
                                        color: $yellow;
                                        padding-left: 0.5rem;
                                        text-decoration: underline;
                                        text-decoration-color: $yellow;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
