.sidebar {
    height: 100%;
    width: 35rem;
    background-color: $lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .header {
        background-color: $turquoise;
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        > .title {
            color: $white;
        }
    }

    > .draw-tools {
        align-self: center;
        width: 80%;
        flex: 2;
        margin-top: 2rem;

        > .label {
            margin-bottom: 0.5rem;
        }

        > .buttons {
            display: flex;
            justify-content: space-between;

            > .button {
                border: none;
                margin-bottom: 2rem;
                align-self: center;
                background-color: $buttongray;
                color: $black;
                font-size: 1.3rem;
                height: 3.5rem;
                width: 45%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                &.-confirmed {
                    width: 100% !important;
                }
            }
        }
    }

    > .button {
        &.-extract {
            border: none;
            margin-bottom: 2rem;
            align-self: center;
            background-color: $buttongray;
            color: $white;
            font-size: 1.6rem;
            width: 80%;
            height: 3.5rem;
        }
    }
}
